data/*
!data/.gitkeep

.vscode/
.env

outputs/*.*
!.gitkeep

outputs/figures/*.*
!.gitkeep

outputs/intermediates/*.*
!.gitkeep

outputs/models/*.*
!.gitkeep

outputs/summaries/*.*
!.gitkeep

outputs/temps/*.*
!.gitkeep

logs/*.*
!.gitkeep